  <!doctype html>
    <html>
     <head>
      <title>Chat Application</title>
      <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
      <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
      <script src="/javascripts/chat.js"></script>
      <style>
        	* { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
        form input { border: 0; padding: 10px; width: 88%; margin-right: .5%; }
        form #button { color:#FFF; background: rgb(130, 224, 255); border: none; padding: 10px;  width: 9%; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
        #notifyUser { position: fixed; bottom: 42px; width: 100%; }
      </style>
      <script type="text/javascript">
        $(document).ready(function(e) {
          var $input = $('#refresh');
          $input.val() == 'yes' ? location.reload(true) : $input.val('yes');
        });   
      </script>
    </head>
    <body>
      <button id="logout">Logout</button>
      <input type="hidden" id="refresh" value="no">
      <ul id="messages">
        <% if(Array.isArray(messages)){
        messages.forEach(function(message){
          if(message.from==sender){%>
            <li><b style="color:green">Me: </b><%= message.content%></li>
          <%}
          else{%>
            <li><b style="color:#009afd"><%= message.from%>: </b><%= message.content%></li>
          <%}
        })
        } %>
      </ul>
      <form id="form" action="" onsubmit="return submitfunction();">
        <p id="sender" type="hidden"><%= sender%></p>
        <p id="receiver" type="hidden"><%= receiver%></p>
        <input id="m" autocomplete="off" placeholder="Type yor message here.." />
        <input type="submit" id="button" value="Send"/>
      </form>
    </body>
  </html>
